@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@theme {
  --font-comic: "Comic Neue", sans-serif;
  --font-roboto: "Roboto", sans-serif;  
  --color-bg-pag: #05000B;
  --color-bg-header: #080110;
  --color-bord: #381060;
  --color-bord2: #614C76;
  --color-linha: #25004B;
  --color-linha-h: #834BBB;
  --color-roxo-1: #D6ADFF;
  --color-roxo-1h: #B986EC;
  --color-roxo-2: #935DCA;
  --color-roxo-3: #834BBB;
  --color-roxo-4: #16002D;
  --color-border-roxo: #6E5685;
}

@layer components { 
  .alinha-center {
    @apply flex items-center;
  }

  .transicao-cor {
    @apply transition-colors duration-500; 
  }

  /*Redes sociais menu*/
  .redes-menu-oculto {
    @apply opacity-0 invisible;
  }

  .menu-visivel {
    @apply opacity-100 visible;
  }

  .redes-menu {
    @apply text-roxo-3 font-bold;
  }

  .redes-menu li{
    @apply 
      m-auto mt-[15px] mb-[4px] text-xs sm:text-sm w-[80%] after:content-[''] after:block after:w-full after:h-px after:bg-linha lg:hover:after:bg-linha-h after:transition-colors after:duration-500  
    ;
  }

  /*botoes tabs*/
  .bnt-tabs {
    @apply 
    border-t-1 border-l-1 border-r-1 border-bord2 bg-roxo-4
    font-comic font-bold text-roxo-3 rounded-tl-sm lg:hover:border-roxo-1
    lg:hover:text-roxo-1 active:border-roxo-1 active:text-roxo-1
    transition-colors duration-400
    w-[170px] h-[40px] m-0
    ;
  }
  
  .bnt-pessoal {
    @apply rounded-tl-none rounded-tr-sm;
  }

  .icon-pc {
    @apply 
      hidden md:block md:-top-9 2xl:top-0 size-8 absolute  2xl:-left-9 
    ;
  }

  .icon-mobile {
    @apply 
      size-7 absolute -top-9 2xl:top-1 2xl:-left-8
    ;
  }

  /*img sites*/
  .container-img {
    @apply 
      relative border-1 border-bord rounded-b-sm  bg-roxo-3 rounded-r-sm w-full h-[calc(100%-40px)];
    ;
    scrollbar-width: none;
    scrollbar-color: #6B32A5 #16002D;
  }

  .container-img-scroll {
    scrollbar-width: thin;
  } 

  .container-img div {
    @apply relative;
  }

  /*pc*/
  .container-pc {
    @apply 
      flex overflow-x-auto
    ;
  }

  .container-pc div {
    @apply 
      h-full w-[850px] shrink-0
    ;
  }

  .container-pc img {
    @apply 
      h-full w-full object-cover
    ;
  }
   /*Mobile*/
  .container-mo {
    @apply flex flex-col overflow-y-auto gap-1 w-full;
  }

  .container-mo img {
      @apply w-full border-t-1 border-b-1 border-roxo-4;
  }

  .icone-baix {
    @apply max-h-9 max-w-9 self-center  absolute top-[20px] z-4
    transition-all duration-400 ease-out border-none;
  }
 
  .link-geral {
    @apply 
     h-5 w-20 absolute left-60 transition-all 
     duration-200 ease-linear 
    ;
  }

  .link-geral img {
    @apply border-none;
  }

  .posi-mo-inicio {
    @apply top-[20px];
  }

  .posi-mo-final {
    @apply bottom-[20px];
  }






}